.Rproj.user
.Rhistory
.RData
.Ruserdata
.rds
.mp4
.jpeg
example INLA equations.Rmd
/manuscript draft
2 component ice output.jpeg
Replicate year spatial field.jpeg
inla_harps_20.mp4
inla_harps_16.mp4
INLA SpaceTime 2 component Sea Ice model.RData
